ul {
  padding-inline-start: 20px;
}

li {
  list-style-type: none;
  padding-right: 35px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-left: 50px;
  background-color: rgba(147, 182, 194, 0.841);
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  top: 20px;
  right: 548.9px;
  height: 570px;
  padding-top: 50px;
}

.moves-style {
  background-color: #4a6767;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 150px;
  border: none;
  font-size: medium;
  margin-bottom: 5px;
}

.moves-style:hover {
  background-color: #73a09f;
}

.text {
  font-size: 25px;
}

.move-number {
  color: #3b6161;
}